fastapi[all]
PyJWT
bcrypt
Faker
sqlmodel
deepface
ipykernel
pytest
isort
tf-keras
logfire[fastapi]
logfire[sqlalchemy]
pymysql
cryptography
pytest-xdist
pytest-xdist[psutil]
pytest-cov
apscheduler
prometheus-fastapi-instrumentator